@media screen and (max-width: 1200px) {
    /* CALENDAR */
    .header__container {
        padding: 20px;
    }
    .calendar__сontainer {
        flex-direction: column;
        margin: auto;
        width: 100%;
    }

    .left__panel {
        width: 100%;
        display: flex;
        justify-content: space-between;
        border: none;
        padding: 30px;
        background-color: transparent;
    }
    .filter__name__title {
        font-size: 13px;
    }
    .calendar__items {
        margin: auto;
        width: 95%;
    }
    .calendar__cards {
        position: static;
        width: 100%;
        display: flex;
        margin: auto;
        justify-content: space-between;
    }
    .filter__choice {
        width: 165px;
        position: absolute;
        z-index: 1000;
    }
    .filter__item {
        background-color: var(--hbc);
        width: 168px;
        display: block;
    }
    .ranges {
        padding: 0;
    }
    .filter_input {
        width: 40px;
    }

    /* HOME */
}

@media screen and (max-width: 375px) {
    .header__container {
        padding: 0;
        flex-direction: column;
        gap: 20px;
    }
    .left__panel {
        width: 370px;
        flex-direction: column;
        margin: auto;
    }
    .filter__choice {
        position: static;
        z-index: 1;
    }
    .filter__item {
        width: 100%;
    }
    .card {
        width: 291px;
    }
    .header-buttons {
        flex-direction: column;
        align-items: center;
        margin: auto;
        gap: 20px;
    }

    .theme-switcher {
        margin: 0;
    }

    .login__block,
    .register__block {
        max-width: 340px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .register__content {
        width: 300px;
    }

    .register__form {
    }

    .form__title {
        font-size: 30px;
    }

    .input__button {
        font-size: 16px;
    }

    .home__content {
        img {
            width: 350px;
            margin: auto;
        }
        flex-direction: column;
        gap: 30px;
        .home-info__text {
            font-size: 18px;
            font-weight: 700;
            width: 300px;
            text-align: left;
        }
        .home-info__link {
            font-size: 17px;
        }
    }

    #filterChoice4 {
        width: 100%;
        border: none;
    }

    #datepicker {
        text-align: center;
    }

    .filter__choice.active {
        width: 100%;
    }
}
